Django==1.7.1

dj-database-url==0.3.0
psycopg2==2.5.4
project-runpy==0.3.1
django-extensions==1.4.6


# Dev requirements
#
# Use one requirements.txt to keep things simple for now.
mock==1.0.1
factory-boy==2.4.1
